$screen-sm-min: 576px;
$screen-md-min: 992px;
$screen-lg-min: 1000px;
$screen-xl-min: 1600px;
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }

@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

html{
  scroll-behavior: smooth;
}

.app-container{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.app-header{
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #f5f6fa;
}

.header-menu{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 2em 2em;

  @include lg{
    padding: 2em 4em;
   }

   @include xl{
    padding: 2em 4em;
  }


  .logo-kor{
    width: 50%;

    img{
      width: 2em;
    }
  }

  .buttons-menu-1{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
  }
  
  .menu-options{
    display: flex;
    margin: 0 7em 0 0;
    p{
        margin: 0 3em 0 0;
        cursor: pointer;
        display: none;

        @include lg{
         display: flex;
        }

        @include xl{
          display: flex;
        }
    }

    p:hover{
      color: #909AFF;
    }
  }

  .active{
    font-weight: bold;
    color: #909AFF;
  }

  .button-get-started{
    background-color: #909AFF;
    border: 1px solid #909AFF;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: bold;
    width: 10em;

    @include lg{
      font-size: 1em;
      width: auto;
     }
  
     @include xl{
      font-size: 1em;
      width: auto;
    }
  }

  .button-get-started:hover{
    background-color: #909AFF;
    border: 1px solid #909AFF;
  }
}

.landing-container{
  width: 80%;
  margin: auto;
  padding: 8em 1em;

  
  @include lg{
    padding: 8em 4em;
   }

    @include xl{
      padding: 8em 4em;
   }

  .welcome-page{
    display: flex;
    flex-direction: column;

    @include lg{
     flex-direction: row;
    }

     @include xl{
      flex-direction: row;
    }

    p{
      font-size: 2em;
      font-weight: bold;
      margin: 2em 0 0 0;

      @include lg{
        flex-direction: row;
        font-size: 3em;
       }
   
        @include xl{
         flex-direction: row;
         font-size: 4em;
       }
    }
    img{
      width: 100%;

      @include lg{
        width: 60%;
       }
   
        @include xl{
          width: 60%;
       }
    }
  }

  .contact-form{
    background-color: white;
    border: 1px solid #f5f6fa;
    border-radius: 15px;
    width: 100%;
    margin: auto;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 1px 3px 0 #e6ebf1;

    @include lg{
      width: 60%;
      padding: 80px 80px;
    }
  
    @include xl{
      width: 60%;
      padding: 80px 80px;
    }

    p{
      margin: 0;
    }

    p:nth-child(1){
      font-size:1.5em;
      font-weight: bold;
    }

    p:nth-child(2){
      margin: 0 0 2em 0;
    }

    input{
      width: 100%;
      font-size: 1.1em;
      align-self: flex-start;
    }

    button{
      margin: 1em 0 0 0;
      width: 100%;
      align-self: flex-start;
      background-color: #909AFF;
      border: 1px solid #909AFF;
      font-weight: bold;

      @include lg{
        width: 30%;
      }
    
      @include xl{
        width: 30%;
      }
    }
  }
}

.footer-container{
  background-color: #909AFF;
  padding: 3em 2em;
  margin: -7em 0 0 0;

  @include lg{
    margin: -9em 0 0 0;
    padding: 3em 4em;
   }
 
   @include xl{
    margin: -9em 0 0 0;
    padding: 3em 4em;
   }


  .footer-sections{
    width: 80%;
    margin: auto;
    display: flex;
    color: white;
    justify-content: flex-end;
    flex-direction: column;

    @include lg{
     flex-direction: row;
    }
  
    @include xl{
      flex-direction: row;
    }



    .section-1 p:nth-child(1),
    .section-2 p:nth-child(1),
    .section-3 p:nth-child(1){
      font-weight: bold;
      font-size: 1.03em;
      margin: 0 0 1em 0;
    }

    .section-1,
    .section-2{
      margin: 0 0em 2em 0;
      font-size: 0.9em;

      
    @include lg{
      margin: 0 10em 0 0;
      font-size: 1em;
     }
   
     @include xl{
      margin: 0 10em 0 0;
      font-size: 1em;
     }
    }

    .section-3{
      margin: 0 2em 0 0;
    }

    p{
      margin: 0 0 0.3em 0;
    }
  }

}

.how-it-works{
  display: flex;
  flex-direction: column;
  margin: 8em 0em;

  @include lg{
    flex-direction: row;
  }

  @include xl{
    flex-direction: row;
  }

  .sections-how-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include lg{
      flex-direction: row;
      width: 50%;
    }
  
    @include xl{
      flex-direction: row;
      width: 50%;
    }

    img{
      width: 3em;
      margin: 0 0 1em 0;
    }

    .section-1-how{
      .sub-section-how{
        width: 100%;

        @include lg{
          flex-direction: row;
          width: 70%;
        }
      
        @include xl{
          flex-direction: row;
          width: 70%;
        }

        margin: 2em 0 2em 0;

        p:nth-child(2){
          font-weight: bold;
        }
      }
    }


    .section-2-how{
      .sub-section-how{
        width: 100%;

        
        @include lg{
          flex-direction: row;
          width: 70%;
        }
      
        @include xl{
          flex-direction: row;
          width: 70%;
        }

        margin: 2em 0 2em 0;

        p:nth-child(2){
          font-weight: bold;
        }
      }
    }
  }

  p{
    margin: 0;
  }

  .how-it-works-description{
    width: 100%;

    @include lg{
      width: 50%;
    }
  
    @include xl{
      width: 50%;
    }

    p:nth-child(2){
      font-size: 1.8em;
      font-weight: bold;
      width: 100%;

      @include lg{
        width: 60%;
      }
    
      @include xl{
        width: 60%;
      }
    }

    p:nth-child(1){
      font-size: 1em;
    }

    p:nth-child(3){
      font-size: 1.1em;
      margin: 1em 0 0 0;
      width: 100%;

      
      @include lg{
        width: 40%;
      }
    
      @include xl{
        width: 40%;
      }
    }

    button{
      background-color: #909AFF;
      border: 1px solid #909AFF;
      font-weight: bold;
      margin: 2em 0 0 0;

    }
  }
}